@media screen and (min-width: 768px) and (max-width: 1024px) {
    .header {
        justify-content: space-between;
        align-items: center;
    }
    .header__menu {
        background-color: white;
        height: fit-content;
        width: fit-content;
        position: static;
        display: block;
        padding: 0;
    }
    .header__hamburguer {
        display: none;
    }
    .header__button {
        display: block;
    }
    .header__button .c-button {
        width: 105px;
        padding: 14px 0px;
        font-size: 12px;
    }
    .header__link {
        display: inline;
        margin: 0px 3px;
        font-size: 14px;
        font-weight: 500;
    }


    .first-section {
        display: flex;
        flex-flow: row-reverse nowrap;
        justify-content: center;
        padding: 50px 0px 0px 0px;
        margin-bottom: 120px;
        gap: 30px;
    }
    .first-section__img {
        margin-top: 30px;
    }
    .first-section__content {
        width: 45%;
        max-width: 400px;
        margin: 45px 0px 0px 0px;
    }
    .first-section__title {
        font-size: 25px;
    }
    .first-section__text {
        font-size: 14px;
    }
    .first-section__img{
        width: 80%;
    }


    .middleSection {
        display: flex;
        justify-content: space-between;
    }
    .middleSection__content {
        width: 280px;
    }
    .middleSection__title {
        font-size: 20px;
    }
    
    .middleSection__list__number {
        width: 35px;
        padding: 2px;
    }
    .middleSection__list__title {
        font-size: 15px;
        margin-left: 6px;
    }
    .middleSection__list {
        width: 50%;
    }
    .middleSection__list__text {
        margin-left: 45px;
    }

    

    .footer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        padding: 70px 40px;
    }
    .footer__netWorking {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    .footer__logo {
        width: 115px;
    }
    .footer__socialMedia img {
        width: 16px;
        margin: 0px 3px;
    }
    .footer__list {
        margin: 0px;
        font-size: 13px;
    }
    .footer__item {
        text-align: left;
    }
    .footer .c-button {
        display: block;
        margin: 6px auto;
    }


    .u-textStyle {
        font-size: 14px;

    }
    .u-borderSpace {
        padding-left: 50px;
        padding-right: 50px;
    }
}