@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro';
}

@keyframes scroll {
    to {

    }
}


.wrapper {
    background-image: url(images/bg-simplify-section-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
}


.header {
    display: flex;
    padding: 40px;
    justify-content: space-between;
}


.first-section__container {
    text-align: center;
}
.first-section__img {
    width: 75%;
    max-width: 400px;
}
.first-section__content {
    margin: auto;
    text-align: center;
}
.first-section__title {
    font-size: 35px;
    margin-bottom: 8px;
}
.first-section__text {
    max-width: 400px;
    margin: auto;
}
.first-section .c-button {
    margin-top: 16px;
}


.middleSection__list {
    list-style: none;
}
.middleSection__list__number {
    background-color: #F25F3A;
    color: white;
    display: inline-block;
    padding: 8px;
    width: 50px;
    border-radius: 18px;
    text-align: center;
}
.middleSection__list__title {
    display: inline-block;
}


.lastSection {
    text-align: center;
    
}
.lastSection__slider {
    overflow-x: hidden;
    white-space: nowrap;
    margin: 40px 0px;
}
.lastSection__title {
    font-size: 32px;
}


.subFooter {
    background-image: url(./images/bg-simplify-section-mobile.svg);
    background-size: cover;
    background-color: #F25F3A;
    padding-top: 65px;
    text-align: center;
}
.subFooter__title {
    margin-bottom: 40px;
}


.footer {
    background-color: #1D1E25;
    padding: 50px;
    text-align: center;
}
.footer__input {
    padding: 15px;
    border: none;
    border-radius: 20px;
}
.footer .c-button {
    width: 80px;
    padding: 14px;
}
.footer__list {
    color: #CDCECF;
    list-style-type: none;
    column-gap: 1px;
    column-count: 2;
    margin: 40px;
    text-align: left;
}
.footer__item {
    margin: 10px;
}
.footer__socialMedia__img {
    width: 30px;
    margin: 0px 8px;
}
.footer__logoContainer {
    margin: 25px;
}


.c-button {
    background-color: #F25F3A;
    color: white;
    width: 140px;
    padding: 18px;
    font-size: 14px;
    border: none;
    border-radius: 30px;
}
.c-button--reverse {
    background-color: white;
    color: #F25F3A;
}
.c-button:hover {
    background-color: #ec795c;
}
.c-button--reverse:hover {
    background-color: #cfcdcc;
}


.c-comment {
    background-color: #FAFAFA;
    width: 400px;
    padding: 15px;
    white-space: wrap;
    margin: 30px;
    display: inline-block;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.301);
    text-align: center;
}
.c-comment__img {
    width: 55px;
    height: 55px;
}
.u-sectionSpace {
    padding-bottom: 65px;

}
.u-borderSpace {
    padding-left: 35px;
    padding-right: 35px;
}
.u-textStyle {
    color: #9095A7;
    padding-top: 20px;
    padding-bottom: 20px;
}
.is-disabled {
    display: none;
}
h1, h2, h3, h4 {
    color: #242D52;
}