@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro';
}
.wrapper {
    background-image: url(images/bg-simplify-section-mobile.svg);
}

.header {
    display: flex;
    padding: 40px;
    justify-content: space-between;
}
.first-section__container {
    text-align: center;
}
.first-section__img {
    width: 75%;
}
.first-section__content {
    margin: auto;
    text-align: center;
}
.first-section__title {
    font-size: 35px;
}

.middleSection__list {
    list-style: none;
}
.middleSection__list__number {
    background-color: #F25F3A;
    color: white;
    display: inline-block;
    padding: 8px;
    width: 50px;
    border-radius: 18px;
    text-align: center;
}
.middleSection__list__title {
    display: inline-block;
}
.subFooter {
    background-image: url(./images/bg-simplify-section-mobile.svg);
}
.lastSection__slider {
    
}


.c-button {
    background-color: #F25F3A;
    color: white;
    width: 140px;
    padding: 18px;
    font-size: 14px;
    border: none;
    border-radius: 30px;
}
.c-button--reverse {
    background-color: white;
    color: #F25F3A;
}
.c-comment {
    background-color: #FAFAFA;
    width: 350px;
    padding: 15px;
    margin: 30px;
    display: inline-block;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.301);
    text-align: center;
}
.c-comment__img {
    width: 55px;
    height: 55px;
}
.u-sectionSpace {
    padding-bottom: 65px;

}
.u-borderSpace {
    padding-left: 50px;
    padding-right: 50px;
}
.u-textStyle {
    color: #9095A7;
    padding-top: 20px;
    padding-bottom: 20px;
}
.is-disabled {
    display: none;
}
h1, h2, h3, h4 {
    color: #242D52;
}